<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Regisrtation form</title>
    <link href="authorizationstyle.css" rel="stylesheet">
</head>

<body>

    <form action = "registration.php" method="post">
        <p class = "header">CREATE AN ACCOUNT</p>
        <div>
            <label for="loginfield">Login:</label>
            <input type="text" name="login" id="loginfield">
        </div>
        <div>
            <label for="emailfield">Email:</label>
            <input type="email" placeholder="example@post.com" name="email" id="emailfield">
        </div>
        <div>
            <label for="passwordfield">Password:</label>
            <input type="password" name="password" id="passwordfield">
        </div>
        <div>
            <label for="checkingpasswordfield">Repeat password:</label><br>
            <input type="password" name="passwordcheck" id="checkingpasswordfield">
        </div>
        <div class="bottom">
            <button type="submit" name="submit" >Register</button>
            <p class="login">Already have an account?<a href="loginpage.php">Log In</a>!</p>
        </div>


    </form>

</body>

</html>